* {
    border: 0;
    padding: 0;
    margin: 0;
}

.circle {
    position: relative;
    width: 150px;
    height: 150px;
    display: inline-block;
}

.circle2 {
    position: relative;
    width: 200px;
    height: 200px;
    display: inline-block;
}

.circle3 {
    position: relative;
    width: 100px;
    height: 100px;
}

.circle4 {
    position: relative;
    width: 200px;
    height: 200px;
    display: inline-block;
}

.percent {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #CCDDCC;
}